<% provide(:title, "Reservations | ") %>

<div id="reserve_background">

  <div class="container form_box party_request">
    <h1 class="center">Request our Venue</h1>
    <p class="center">for a Private Party or Event</p>

      <%= form_for(Party.new, remote: true) do |f| %>
        <p id="list_errors_party"></p>
        <p id="thanks"></p>

          <%= f.text_field :name, placeholder: "Name*",
                            class: 'form-control' %>

          <%= f.email_field :email, placeholder: "Email*",
                            class: 'form-control'  %>

          <%= f.text_field :phone, placeholder: "Phone*",
                            class: 'form-control' %>

          <%= f.number_field :guests, placeholder: "Number of Guests*",
                            class: 'form-control' %>

          <%= f.text_field :date, placeholder: "Date*",
                            class: 'form-control',
                            id: 'datepicker' %>

          <%= f.time_field :time %>

          <%= f.select :size, ['Select Venue Size', 'Mezzanine only', 'Full Bar'] %>

          <%= f.text_field :info, placeholder: 'Please provide some information about the type of party or event.' %>

          <%= f.submit "Request", class: "btn btn-primary" %>
      <% end %>

    <br>
    <p>*required</p>

  </div>
</div>

<script>
  $('form').submit(function() {
    $("p#list_errors_party").empty();
    var name = $("input#name").val();
    var email = $("input#email").val();
    var phone = $("input#phone").val();
    var guests = $("input#guests").val();
    var date = $("input#date").val();

    if  (name && email !== "") {
      $("p#thanks").text("Thank you for your request. We will contact you with availabilty.");
    }

  })
</script>
