<body>


        <div class="container">
          <div class="sidebar"></div>
            <div class="image"></div>
        </div>



        <div class="container">

          <header>
            <h1 class="logo"><a href="">DaDa</a></h1>
            <a class="to_nav" href="#primary_nav">Menu</a>
          </header>

          <div id="mobile_image">
            <%= image_tag("bar3-1.jpg") %>
          </div>


          <nav id="primary_nav">
              <div id="desktop_logo"><div>

              <ul>
                <li><%= link_to "About",   '#' %></li>
                <li><%= link_to "Location",   '#' %></li>
                <li><%= link_to "Gallery", '#' %></li>
                <li><%= link_to "Reservations", '#' %></li>
                <li class="top"><a href="#home">Top</a></li>
              </ul>
          </nav>
        </div>
</body>
</html>
