
  <div id="myCarousel" class="carousel slide" data-ride="carousel"
    style="border-bottom:2px solid red">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag src="slider1crop.jpg", alt:"bar"%>
      </div>

      <div class="item">
        <%= image_tag src="slider2crop.jpg", alt:"bar" %>
      </div>

      <div class="item">
        <%= image_tag src="cosmo.png", alt:"cosmo" %>
      </div>

      <div class="item">
        <%= image_tag src="martini.png", alt:"martini" %>
      </div>

      <div class="item">
        <%= image_tag src="car_art.png", alt:"car artwork" %>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container events">
    <h1 class="events">Upcoming Events</h1>

    <table class="contacts table" %>
      <% @events.limit(5).each do |event| %>
        <tr>
          <td id="date_home"><%= event.date %></td>
          <td><%= event.name %></td>
          <!-- <td><%= event.time %></td> -->
          <td><%= event.info %></td>
          <% if logged_in? %>
          <td><%= link_to "X", event, method: :delete,
                                      class: "delete", remote: true %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p style="padding-bottom:10px"><%= link_to "View All", 'events' %></p>
  </div>
