<div>
  <div id="myCarousel" class="carousel slide red-border" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag src="martini.png", alt:"martini" %>
      </div>

      <div class="item">
        <%= image_tag src="blonde_chick.jpg", width: "100%", alt:"bar decor" %>
      </div>

      <div class="item">
        <%= image_tag src="awesome_inside.jpg", width: "100%", alt:"bar decor" %>
      </div>

      <div class="item">
        <%= image_tag src="side_purple_bar.jpg", width: "100%", alt:"bar" %>
      </div>

      <div class="item">
        <%= image_tag src="art_display2.jpeg", width: "100%", alt:"art display" %>
      </div>

      <div class="item">
        <%= image_tag src="purple_bar.jpg", width: "100%", alt:"bar" %>
      </div>

      <div class="item">
        <%= image_tag src="cosmo.png", alt:"cosmo" %>
      </div>

      <div class="item">
        <%= image_tag src="inside.jpeg", width: "100%", alt:"bar" %>
      </div>

<!--
      <div class="item">
        <%= image_tag src="art_display1.jpeg", width: "100%", alt:"lamp" %>
      </div> -->


    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container events">
    <h1 class="events">Upcoming Events</h1>

    <table class="home_events container-fluid">
      <% @events.limit(5).each do |event| %>
        <tr>
          <td id="date_home"><%= event.date %></td>
          <td><%= event.name %></td>
          <td><%= event.info %></td>
          <% if logged_in? %>
          <td><%= link_to "X", event, method: :delete,
                                      class: "delete", remote: true %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p id="view_all"><%= link_to "View All", 'events' %></p>
  </div>


  <!-- location map -->
    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
</div>
