<% provide(:title, "Reservations") %>


<div class="container reserve">

  <div class="row">
    <div class="col-md-6" style="color:black">
      <h1 style="text-align:center">Reserve a Table</h1>
      <p style="text-align:center">Minimum guests: 8</p>

      <%= form_for(Contact.new) do |f| %>
        <%= f.label :name%>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :phone %>
        <%= f.number_field :phone %>

        <%= f.label :guests %>
        <%= f.number_field :guests %>

        <%= f.label :date %>
        <%= f.date_field :date %>

        <%= f.label :time %>
        <%= f.time_field :time %>

        <%= f.submit "Reserve", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
