<% provide(:title, "Reservations") %>


<div class="container reserve" style="padding-top:40px">
  <div class="row">
    <div class="col-md-6" style="color:black">
      <h1 style="text-align:center">Reserve a Section</h1>
      <p style="text-align:center">Minimum guests: 8</p>

      <%= form_for(Contact.new) do |f| %>

        <%= f.label :name%>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :phone %>
        <%= f.text_field :phone %>

        <%= f.label :guests %>
        <%= f.number_field :guests %>

        <%= f.label :date %>
        <%= f.text_field :date, "data-provide" => 'datepicker' %>

        <%= f.label :time %>
        <%= f.time_field :time %>

        <%= f.submit "Reserve", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="col-md-6" id="section_container">
      <div id="section"></div>
    </div>

  </div>


  <br>

  <div class="row" style="padding-top:40px">
    <div class="col-md-6" style="color:black">
      <h1 style="text-align:center">Book a Private Party</h1>
      <p style="text-align:center">
        Bar minimum will be required <br>
        Please include information about the type of event</p>

      <%= form_for(Contact.new) do |f| %>
        <%= f.label :name%>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :phone %>
        <%= f.text_field :phone %>

        <%= f.label :guests %>
        <%= f.number_field :guests %>

        <%= f.label :date %>
        <%= f.text_field :date, "data-provide" => 'datepicker' %>

        <%= f.label :time %>
        <%= f.time_field :time %>

        <%= f.label :size %>
        <%= f.select :size, ['Mezzanine only', 'Full Bar'] %>

        <%= f.label :info %>
        <%= f.text_field :info %>

        <%= f.submit "Reserve", class: "btn btn-primary" %>
      <% end %>
    </div>



    <div class="col-md-6" id="full_bar_container">
      <div id="full_bar"></div>
    </div>

  </div>


  <br>

</div>
