<h1>Information</h1>

<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone: <%= @contact.phone %></p>
<p>Guests: <%= @contact.guests %></p>
<p>Date: <%= @contact.date %></p>
<p>Time: <%= @contact.time %></p>
<p>Size: <%= @contact.size %></p>
<p>Information: <%= @contact.info %></p>
