<!-- banner -->
<div class="jumbotron" id="events_banner">
  <h1 style="text-align:center">Events</h1>
</div>

<!-- add event form -->
<!-- <% if logged_in? %> -->
  <div class="container" style="width:350px;padding-bottom:20px">
      <%= form_for Event.new, url: events_path, html: { multipart: true } do |f| %>

          <%= f.text_field :name, placeholder: "Name*",
                            class: 'form-control' %>

          <%= f.text_field :date, placeholder: "Date ( YYYY-MM-DD )",
                            class: 'form-control', "data-provide" => 'datepicker' %>

          <%= f.time_field :time %>

          <%= f.text_field :info, placeholder: 'Additional Information' %>

          <%= f.file_field :flyer%>

          <%= f.submit "Add Event", class: "btn btn-primary" %>
      <% end %>
  </div>
<!-- <% end %> -->

<!-- events list -->
<div class="container center" style="padding-bottom:20px">
  <%= will_paginate %>
  <table>
    <% @events.each do |event| %>
      <tr class="events">
        <td id="date_red"><%= event.date %></td>
        <td id="name_listing"><%= event.name %></td>
        <!-- <td><%= event.time %></td> -->
        <% if logged_in? %>
        <td><%= link_to "delete", event, method: :delete,
                                    data: { confirm: "You sure?" } %></td>
        <% end %>
      </tr>
      <tr>
        <td><br></td>
        <td><%= event.info %></td>
      <!-- <% if event.flyer != nil %>
          <td><%= image_tag event.flyer.url(:thumb) %></td>
      <% end %> -->
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
