<% provide(:title, "Events | ") %>

<!-- banner -->
<div class="red-border banner">
  <h1 class="center banner-heading">Events</h1>
</div>

<!-- add event form -->
<!-- <% if logged_in? %> -->
  <div class="container" style="width:350px;padding-bottom:20px">
    <%= form_for Event.new, url: events_path, html: { multipart: true } do |f| %>

        <%= f.text_field :name, placeholder: "Name*",
                          class: 'form-control' %>

        <%= f.text_field :date, placeholder: "Date ( YYYY-MM-DD )",
                          class: 'form-control', "data-provide" => 'datepicker' %>

        <%= f.text_field :info, placeholder: 'Additional Information' %>

        <%= f.file_field :flyer%>

        <%= f.submit "Add Event", class: "btn btn-primary" %>
    <% end %>
  </div>
<!-- <% end %> -->

<div class="row desktop events-list">

  <!-- events list -->
  <div class="col-xs-6" >
    <%= render 'layouts/events_table' %>
  </div>

  <!-- images list-->
  <div class="col-xs-6" class="center" style="padding-top: 40px">
    <div>
        <% @photos.limit(30).each do |photo| %>
          <li class="gallery"><%= image_tag photo.image.url(:medium) %></li>
        <% end %>
    </div>
  </div>

</div>

<div class="mobile">
  <%= render 'layouts/events_table' %>
</div>

<script>
  $('.delete').click(function() {
    var row = $(this).closest("tr");
    row.next().remove();
    row.next().remove();
    row.remove();
  })
</script>
