
<div class="container">
<br>
<h2 style="text-align:center">Upcoming Reservations</h2>

<%= will_paginate %>

<table class="contacts table" %>
  <tr style="font-weight:bold">
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Guests</td>
    <td>Date</td>
    <td>Time</td>
    <td>Size</td>
    <td>Info</td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.guests %></td>
      <td><%= contact.date %></td>
      <td><%= contact.time %></td>
      <td><%= contact.size %></td>
      <td><%= contact.info %></td>
      <td><%= link_to "delete", contact, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
</div>
