
<div class="container">
<br>
<h1 class="center">Table Requests</h1>

<%= will_paginate %>

<table class="contacts table" %>
  <tr class="table-headers">
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Guests</td>
    <td>Date</td>
    <td>Time</td>
    <td>Confirmed</td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td class="center"><%= contact.guests %></td>
      <td><%= contact.date %></td>
      <td><%= contact.time %></td>
      <td class="center"><%= contact.confirmed %></td>
      <td><%= link_to "Edit", edit_contact_path(contact) %></td>
      <td><%= link_to "X", contact, method: :delete,
                                   class: "delete", remote: true %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
</div>





<div class="container">
<br>
<h1 class="center">Private Party Requests</h1>

<%= will_paginate %>

<table class="contacts table" %>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Guests</th>
    <th>Date</th>
    <th>Time</th>
    <th>Size</th>
    <th>Info</th>
    <th>Confirmed</th>
  </tr>
  <% @parties.each do |party| %>
    <tr>
      <td><%= party.name %></td>
      <td><%= party.email %></td>
      <td><%= party.phone %></td>
      <td><%= party.guests %></td>
      <td><%= party.date %></td>
      <td><%= party.time %></td>
      <td><%= party.size %></td>
      <td><%= party.info %></td>
      <td><%= party.confirmed %></td>
      <td><%= link_to "Edit", edit_party_path(party) %></td>
      <td><%= link_to "X", party, method: :delete,
                                   class: "delete", remote: true %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
</div>
