<% provide(:title, "Reservations | ") %>

<div id="reserve_background">

  <div class="container form_box table_request">
    <h1 class="center">Request a table reservation</h1>
    <p class="center">Minimum guests: 8</p>

      <%= form_for(Contact.new) do |f| %>
        <p id="list_errors"></p>

          <%= f.text_field :name, placeholder: "Name*",
                            class: 'form-control', id: 'name' %>

          <%= f.email_field :email, placeholder: "Email*",
                            class: 'form-control', id: 'email'  %>

          <%= f.text_field :phone, placeholder: "Phone*",
                            class: 'form-control', id: 'phone' %>

          <%= f.number_field :guests, placeholder: "Number of Guests*",
                            class: 'form-control', id: 'guests' %>

          <%= f.text_field :date, placeholder: "Date ( YYYY-MM-DD )*",
                            class: 'form-control', "data-provide" => 'datepicker',
                            id: 'date' %>

          <%= f.time_field :time %>

          <%= f.hidden_field :size, :value => "Table"  %>

          <%= f.submit "Request", class: "btn btn-primary" %>
      <% end %>

    <br>
    <p>*required</p>

  </div>
</div>
