<footer class="desktop">
  <!-- facebook -->
  <div class="container center" style="padding-bottom:10px">
    <div class="social_media">
      <a href="https://www.facebook.com/sfdada"><%= image_tag src="facebook.png" %></a>
    </div>
    <!-- twitter -->
    <div class="social_media">
      <a href="https://twitter.com/Dada_sf"><%= image_tag src="twitter.png" %></a>
    </div>
    <!-- instagram -->
    <div class="social_media">
      <a href="#"><%= image_tag src="instagram.png" %></a>
    </div>
  </div>

  <div class="content">
    <p>DaDa Bar | 65 Post St San Francisco, CA 94104 | (415) 357-1367</p>
    <p style="font-style:italic">Hours Mon-Sun 1pm-2am | Happy Hour M-F 4pm-7pm</p>
  <div>

  <p class="copyright">&copy; Copyright 2016 Dada SF<p>
</footer>




<footer class="mobile">
  <!-- facebook -->
  <div class="container center" style="padding-bottom:10px">
    <div class="social_media">
      <a href="https://www.facebook.com/sfdada"><%= image_tag src="facebook.png" %></a>
    </div>
    <!-- twitter -->
    <div class="social_media">
      <a href="https://twitter.com/dadabarsf"><%= image_tag src="twitter.png" %></a>
    </div>
    <!-- instagram -->
    <div class="social_media">
      <a href="https://www.instagram.com/dadabarsf/"><%= image_tag src="instagram.png" %></a>
    </div>
  </div>

  <div class="content">
    <p>DaDa Bar</p>
    <p>65 Post St San Francisco, CA 94104</p>
    <p style="color:white">(415) 357-1367</p>
    <p style="font-style:italic">Hours Mon-Sun 1pm-2am</p>
    <p>Happy Hour M-F 4pm-7pm</p>
  <div>

  <p class="copyright">&copy; Copyright 2016 Dada SF<p>
</footer>
