<header>
    <%= link_to root_path do %>
      <h1 class="logo">DADA</h1>
    <% end %>

    <!-- Desktop navigation -->
    <nav id="desktop_nav">
      <ul>
      <!-- Admin dropdown -->
      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-calendar" style="color:white"
              aria-hidden="true"></span>

            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Requests", 'index' %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% end %>
        <!-- Site Links -->
        <li><%= link_to "About",        'about' %></li>
        <li><%= link_to "Location",     'location', data: { no_turbolink: true } %></li>
        <li><%= link_to "Gallery",      'gallery' %></li>
        <!-- Reservation Dropdown -->
        <li class="dropdown" id="reserve_dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Reservations
            <!-- <b class="caret"></b> -->
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tables", 'reservations' %></li>
            <li><%= link_to "Private Party", 'parties' %></li>
          </ul>
        </li>

      </ul>
    </nav>

    <!-- Mobile navigation -->
    <nav id="mobile_nav">
      <li class="dropdown">

        <a href="#" class="dropdown-toggle menu" data-toggle="dropdown">
          Menu
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to "Home",        root_path %></li>
          <li class="divider"></li>
          <li><%= link_to "About",        'about' %></li>
          <li><%= link_to "Location",     'location', data: { no_turbolink: true } %></li>
          <li><%= link_to "Gallery",      'gallery' %></li>
          <li class="divider"></li>
          <li><%= link_to "Reserve Table", 'reservations' %></li>
          <li><%= link_to "Private Party", 'parties' %></li>
        </ul>
      </li>
    </nav>

</header>
