<header>
    <%= link_to root_path do %>
      <h1 class="logo">Dada</h1>
    <% end %>
    <a class="to_nav" href="#mobile_nav">Menu</a>
</header>

<div class="desktop_logo">
  <%= link_to root_path do %>
    <%= image_tag src="dada_logo.jpg", width: '250', height: '250' %>
  <% end %>
</div>

<div class="sidebar">
  <%= image_tag src="sidebar.jpeg" %>
  <%= render "layouts/nav" %>
</div>
